@import '../../theme/colors.scss';

.header{
    background-color: transparent;
    height: auto;
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    // border: 1px solid red;

}

.header span {
    padding: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    // border: 1px solid red;
}

.header span h1{
    font-size: 2em;
    font-family: 'Amatic SC', cursive;
}

.logo-animation{
    height: 4em;
    width: 4em;
    border-radius: 50%;
}

.search-form {
    border-radius: 5px;
    padding: 0px;
    height: 40px;
    display: flex;

    div {

        input{
            text-indent: 10px;
            align-self: center;
            border: 1px solid $background-bottom-color;
            background-color: $info-background-color;
            outline: none;
            height: 100%;
            width:auto;
            box-sizing: border-box;
            border-radius: 5px 0px 0px 5px;
        }

        button{
            height: 100%;
            width: 3.0em;
            border-radius: 0px 5px 5px 0px;
            color: white;
            border-left: none;
            background-color:cornflowerblue;
            padding: 0;
            border-color: cornflowerblue;
        }

        button:hover {
            cursor: pointer;
        }
        
        input:focus{
            background-color: $info-background-color;
            border: 2px solid $background-bottom-color;
            border-right: none;
        }
    }
}



#gps-button{
    height: 2.5em;
    width: 2.5em;
    color: white;
    background: cornflowerblue;
    border-radius: 50%;
    border: none;
    margin: 0em 2em 0em 2em;
    padding: 0;
}

#gps-button:focus{
    border:2px solid $background-bottom-color;
}
